.heading-container{
    border-left: 6px solid 	#ae6427;
    padding: 0 20px 0 40px;
    h6{
        font-size: 1.3rem;
        font-weight: bold;
        color: #ae6427;
    }
    h2{
        font-size: 3rem;
        font-weight: bold;
        color: #2f1313;
    }
}