
header{
 
    .top-header{
        padding: 0 15px;
        border: 1px solid #ccc;
        height: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-content: center;
        .top-head-col{
            border: 1px solid #ccc;
            padding: 5px 0;
            text-align: center;
            display: grid;
            place-items: center;
        }
    }
}